# PyCache files
**__pycache__/
*.pyc
*.pyo
*.pyd

# Log files
logs/
*.log

# Database files
output/
cache/
.cache/
**/*.parquet

# Environment variables
.env
**.venv/
*.ps1

# MLflow tracking
mlruns/
mlartifacts/